/*==========Nav Start============*/
.container{
    margin-bottom: 50px;
}

/*==========Nav End============*/

/*==========Carousel Start============*/
.carousel-item p{
    text-align: justify;
}

.buy-button{
    background-color: black;
    color: white;
    padding: 10PX 20PX;
    border: none;
    border-radius: 10px;
}

.bar-color{
    background-color: #f2db16!important;
}

.bg-1{
    background-image: url("../images/bg-2.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 10%;
}

.bg-2{
    background-image: url("../images/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6%;
}

/*==========Carousel End============*/

/*==========SmartPhone + Laptop Start============*/
.row-margin{
    margin: auto;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    text-align: center;
}

.card-body p{
    color: grey;
}

.card-footer{
    border: none;
    background-color: white;
    padding-bottom: 20px;
}

.direction{
    font-size: 15px;
}

.see-all-text{
    float: right;
    font-size: 15px;
    color: orange;
}
/*==========SmartPhone + Laptop End============*/

/*==========Categories Start============*/
.categories{
    text-align: center;
}
.categories-br{
    margin: 0 auto 50px;
    width: 90px;
    height: 6px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FFC75BFF 0%, orange 100%);
}

.card{
    margin-bottom: 50px;
}

.card img{
    padding-top: 10px;
    margin: 0 auto;
}

.card-img-top{
    width: 50%;
}

.pale-row{
    margin: 0 auto;
}

.pale-img{
    width: 100%;
}

.card-text{
    padding-bottom: 10px;
}

/*==========Categories End============*/
footer{
    text-align: center;
}